<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.dublbo.generator.mapper.TDemoModelDetailMapper">
    <!-- 将表中的各字段映射到实体类中的相应属性 -->
    <resultMap id="tDemoModelDetail" type="edu.dublbo.generator.entity.TDemoModelDetail">
        <result column="id" property="id"/>
        <result column="model_id" property="modelId"/>
        <result column="property_name" property="propertyName"/>
        <result column="property_type" property="propertyType"/>
        <result column="property_desc" property="propertyDesc"/>
        <result column="column_name" property="columnName"/>
        <result column="column_type" property="columnType"/>
        <result column="column_type_length" property="columnTypeLength"/>
        <result column="column_desc" property="columnDesc"/>
        <result column="sort_no" property="sortNo"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_user" property="modifyUser"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="delete_flag" property="deleteFlag"/>
    </resultMap>

    <!-- 定义表名 -->
    <sql id="tableName">t_demo_model_detail</sql>

    <!-- 定义全部列名 -->
    <sql id="columnName">
        id,model_id,property_name,property_type,property_desc,column_name,column_type,column_type_length,column_desc,sort_no,create_user,create_time,modify_user,modify_time,delete_flag
    </sql>

    <insert id="add" parameterType="edu.dublbo.generator.entity.TDemoModelDetail">
        insert into <include refid="tableName"/> (
            <include refid="columnName"/>
        )
        values (
            #{id},#{modelId},#{propertyName},#{propertyType},#{propertyDesc},#{columnName},#{columnType},#{columnTypeLength},#{columnDesc},#{sortNo},#{createUser},#{createTime},#{modifyUser},#{modifyTime},#{deleteFlag}
        )
    </insert>


    <insert id="add01" parameterType="edu.dublbo.generator.entity.DefaultModelDetail">
        insert into <include refid="tableName"/> (
            <include refid="columnName"/>
        )
        values (
            #{id},#{modelId},#{propertyName},#{propertyType},#{propertyDesc},#{columnName},#{columnType},#{columnTypeLength},#{columnDesc},#{sortNo},#{createUser},#{createTime},#{modifyUser},#{modifyTime},#{deleteFlag}
        )
    </insert>

    <delete id="delete" parameterType="String">
        delete from <include refid="tableName"/> where id = #{id}
    </delete>

    <update id="update" parameterType="edu.dublbo.generator.entity.TDemoModelDetail">
        update <include refid="tableName"/>
        set
        <trim suffixOverrides=",">
            name = #{name},
            model_id = #{remark},
            property_name = #{propertyName},
            property_type = #{propertyType},
            property_desc = #{propertyDesc},
            column_name = #{columnName},
            column_type = #{columnType},
            column_type_length = #{columnTypeLength},
            column_desc = #{columnDesc},
            sort_no = #{sortNo},
            create_user = #{createUser},
            create_time = #{createTime},
            modify_user = #{modifyUser},
            modify_time = #{modifyTime},
            delete_flag = #{deleteFlag},
        </trim>
        where id = #{id}
    </update>

    <update id="batchUpdateDelete" parameterType="Map">
        update <include refid="tableName"/>
        set
            modify_user = #{modifyUser},
            modify_time = #{modifyTime},
            delete_flag = #{deleteFlag}
        where
            model_id = #{modelId}
    </update>

    <select id="get" parameterType="String" resultMap="tDemoModelDetail">
        select <include refid="columnName"/>
        from <include refid="tableName"/>
        where id = #{id} and delete_flag = 0
    </select>

    <select id="listAll" resultMap="tDemoModelDetail">
        select <include refid="columnName"/>
        from <include refid="tableName"/>
        where delete_flag = 0
    </select>

    <insert id="batchAdd" parameterType="java.util.List">
        insert into <include refid="tableName"/> (
            <include refid="columnName"/>
        ) values
        <foreach collection="detailList" item="model" separator=",">
            <if test="model != null">
                (
                    #{model.id},
                    #{model.modelId},
                    #{model.propertyName},
                    #{model.propertyType},
                    #{model.propertyDesc},
                    #{model.columnName},
                    #{model.columnType},
                    #{model.columnTypeLength},
                    #{model.columnDesc},
                    #{model.sortNo},
                    #{model.createUser},
                    #{model.createTime},
                    #{model.modifyUser},
                    #{model.modifyTime},
                    #{model.deleteFlag}
                )
            </if>
        </foreach>
    </insert>

</mapper>